# Виртуальное окружение
venv/
env/

# База данных (локальная)
db.sqlite3

# Медиа-файлы (загруженные картинки товаров)
media/

# Кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Настройки окружения
.env

# Статика, собранная collectstatic
staticfiles/

# IDE файлы
.vscode/
.idea/

# Системные файлы Windows
Thumbs.db
Desktop.ini

# Python build
build/
dist/
*.egg-info/
