{% extends 'base.html' %}
{% block content %}

<div class="info-wrapper">

    <div class="info-section">
        <h1>Контакты</h1>

        <h2>Телефон</h2>
        <p><strong>+375 (29) 123‑45‑67</strong></p>

        <h2>Адрес</h2>
        <p>г. Минск, ул. Победителей, 25</p>

        <h2>Email</h2>
        <p>sushi-shop@info.by</p>

        <h2>Соцсети</h2>
        <ul class="info-list">
            <li>Instagram: @sushi.by</li>
            <li>Telegram: @sushi_delivery_by</li>
        </ul>

        <h2>График работы</h2>
        <p>10:00 — 23:00 ежедневно</p>
    </div>

</div>

{% endblock %}
